

<div *ngIf="visible" [bringToTop] [draggable] id="avatarEditor">
    <div id="avatarEditorhareket" class="drag-handler">
        <div class="avatarEditor-baslik">
            {{ ('avatareditor.title') | translate }}
        </div>
        <div class="modern-close" (click)="hide()"><div class="christmas_close"></div><div class="christmas_close"></div><div class="closetab1"></div><div class="closetab2"></div></div>
    </div>
    <div id="avatarEditor-menu">
        <div class="h5-menu-center">
            <div *ngFor="let category of categories.getValues()" (click)="selectCategory(category.name)">
                <div class="modern-menu-box ae-othermenu" [ngClass]="{ 'modernmenu-active': (activeCategory === category) }">
                    <div class="modern-menuhr"></div>{{ ('avatareditor.category.' + category.name) | translate }}
                </div>
            </div>

            <div class="modern-menu-box wardrobe-menu">
                <div class="modern-menuhr"></div>{{ ('avatareditor.category.wardrobe') | translate }}
            </div>
        </div>
    </div>
    <div id="avatar-editor-clothes-box">
        <div class="face_01-box">
            <div *ngIf="activeCategory" nitro-avatar-model-viewer-component [model]="activeCategory" [gender]="gender">
            </div>
            <div class="avatar-preview-box" *ngIf="figureData">
                <div class="avatar-gorunum-preview-box">
                    <div class="avatar-stand-img" nitro-avatar-image [figure]="figureData.view.figureString" [direction]="figureData.direction" [scale]="2"></div>
                    <div class="avatar-change-direction-left" (click)="rotateAvatar(figureData.direction + 1)"></div>
                    <div class="avatar-change-direction-right" (click)="rotateAvatar(figureData.direction - 1)"></div>
                </div>
                <div class="button-avatar-gorunum-temizle" (click)="clearFigure()">{{ ('generic.reboot') | translate }}
                </div>
                <div class="button-avatar-gorunum-kaydet" (click)="saveFigure()">{{ ('avatareditor.save') | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="modern-wardrobe-main">
        <div *ngIf="figureData" nitro-avatar-wardrobe-component class="col-12 nitro-avatar-wardrobe-component mt-1" [figureData]="figureData"></div>
    </div>

</div>


<div *ngIf="visible" [bringToTop] [draggable] class="mobile-nitro-avatar-editor">
    <div class="mobile-avatar-editor-body">
        <div class="mavatare-menu">
            <button type="button" *ngFor="let category of categories.getValues()" class="mavatare-menubox" [ngClass]="{ 'active': (activeCategory === category) }" (click)="selectCategory(category.name)">
                <p class="mavatare-menubox-text">{{ ('avatareditor.category.' + category.name) | translate }}</p>
            </button>
            <button class="mavatare-menubox">
                <p class="mavatare-menubox-text">{{ ('avatareditor.category.wardrobe') | translate }} - Soon!</p>
            </button>
        </div>

        <div *ngIf="activeCategory" class="d-flex flex-column" nitro-avatar-model-viewer-component [model]="activeCategory" [gender]="gender"></div>

        <div class="m-avatar-preview-box" *ngIf="figureData">
            <div class="m-avatar-gorunum-preview-box">
                <div class="m-avatar-stand-img" nitro-avatar-image [figure]="figureData.view.figureString" [direction]="figureData.direction" [scale]="1"></div>
                <div class="m-avatar-change-direction-left" (click)="rotateAvatar(figureData.direction + 1)"></div>
                <div class="m-avatar-change-direction-right" (click)="rotateAvatar(figureData.direction - 1)"></div>
            </div>
            <div class="m-button-avatar-gorunum-temizle" (click)="clearFigure()">
            </div>
            <div class="m-button-avatar-gorunum-kaydet" (click)="saveFigure()">
            </div>
        </div>
    </div>
</div>
